.AppDiv {
  text-align: center;
}

.TournamentSearchButton {
  margin: 1%;
}

.TournamentDropDownDiv {
  width: 35%;
  margin: auto;
  margin-bottom: 2%;
}

.TournamentLineChartDiv {
  width: 50%;
  margin: auto;
  background-color: #ffff;
  border: #ffff;
}

.TournamentLineChart {
  padding: 20px;
}

.rounded {
  border-radius: 1em;
}

.title {
  font-size: 60px;
}