.AppDiv {
  text-align: center;
}

.TournamentSearchButton {
  margin: 1%;
}

.DropDownGridDiv {
  margin: auto;
  margin-top: 1%;
}

.DropDownDiv {
  width: 20%;
  margin: auto;
  margin-bottom: 2%;
  margin-left: 1%;
  display:inline-block;
}

.CompareButtonDiv {
  margin-left: 1%;
  display:inline-block;
}

.CompareButton {
  width: 35px;
  height: 35px;
  margin: auto;
  display:inline-block;
  background-color: #ffff;
  font-weight: bolder;
  font-size: larger;
  border-radius: 0.5em;
}

.TournamentLineChartDiv {
  width: 75%;
  margin: auto;
  background-color: #ffff;
  border: #ffff;
}

.TournamentLineChart {
  padding: 20px;
}

.rounded {
  border-radius: 1em;
}

.title {
  font-size: 60px;
}