.AppDiv {
  text-align: center;
}

.TournamentSearchButton {
  margin: 1%;
}

.DropDownGridDiv {
  margin: auto;
  margin-top: 1%;
  height: 240px;
}

.DropDownDiv {
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  display:inline-block;
}

.CompareButtonDiv {
  margin-left: 1%;
  float: left;
}

.CompareButton {
  width: 35px;
  height: 35px;
  margin: auto;
  display:inline-block;
  background-color: #ffff;
  font-weight: bolder;
  font-size: larger;
  border-radius: 0.5em;
}

.CustomLineChartDiv {
  width: 75%;
  margin: auto;
  background-color: #ffff;
  border: #ffff;
  margin-bottom: 20px;
}

.CustomLineChartTemplateDiv {
  height: 700px;
  line-height: 700px;
}

.CustomLineChart {
  padding: 20px;
}

.rounded {
  border-radius: 1em;
}

.title {
  font-size: 60px;
}

.SelectorDiv {
  width: 20%;
  margin: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  vertical-align: top;
  float: left;
}

.statP {
  margin: 5px;
}

.statTitleP {
  margin: 5px;
}

.statLongTitleP {
  margin: 20px;
}

.statTitleDiv {
  padding-top: 40px;
  float: left;
}
